.hakkimizda {
    float: left;   
    width: 25%;
    height: 450px;
    margin-right: 40px;
   
    
}
.duyuru {
    float: left;
    width: 55%;
    height: 450px;
    
}
.kirmizi {
    float: right;
    width: 150px;
    height: 450px;
    margin-left: 40px;
    
}
.container {
    display: flex;
    margin-left: 90px;
    width: 1200px;
    height: 500px;
}
.circleclass {
    background-color: lightblue;
    border-radius: 30%;
    border: 8px solid rgba(255, 255, 255, .5);
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-bottom: 4px;
    text-align: center;
    align-items: center;
    margin-left:15px;
}
.button {
    background-color: lightblue;
    border-radius: 2%;
    border: 1px solid black;
    height: 30px;
    
}
    .button:hover {
        background-color: aliceblue;
        color: lightblue;
        cursor: pointer
    }
.lineup {
    
    float: left;
   
}

.tablestyle {
    width: 400px;
    height: 100px;
    margin-left: 300px;
}

.tdstyle {
    height: 23px;
}